In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Merge datarames with tracks, missing tracks, playlists, and artists

In [2]:
# Load files: 
tracks_path = ("../Resources/cleaned_tracks.csv")
missing_path = ("../Resources/new_tracks.csv.gz")
playlists_path = ("../Resources/playlist_frequency.csv")
artists = ("../spotify_data/artists.csv")

In [3]:
# Read files into DataFrames
tracks_df = pd.read_csv(tracks_path)
missing_songs_df = pd.read_csv(missing_path)
playlists_df = pd.read_csv(playlists_path)
artists_df = pd.read_csv(artists)

## Check and adjust/clean the dataframes

In [4]:
tracks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586659 entries, 0 to 586658
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        586659 non-null  int64
 1   id                586659 non-null  object
 2   name              586659 non-null  object
 3   popularity        586659 non-null  int64
 4   duration_ms       586659 non-null  int64
 5   explicit          586659 non-null  int64
 6   artists           586659 non-null  object
 7   id_artists        586659 non-null  object
 8   release_date      586659 non-null  object
 9   danceability      586659 non-null  float64
 10  energy            586659 non-null  float64
 11  key               586659 non-null  int64
 12  loudness          586659 non-null  float64
 13  mode              586659 non-null  int64
 14  speechiness       586659 non-null  float64
 15  acousticness      586659 non-null  float64
 16  instrumentalness  586659 non-null  float64
 17  liveness          586659 non-null  float64
 18  valence           586659 non-null  float64
 19  tempo             586659 non-null  float64
 20  time_signature    586659 non-null  int64
dtypes: float64(9), int64(7), object(5)
memory usage: 94.0+ MB

In [5]:
tracks_df.tail()

,Unnamed: 0,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
586654,586667,5rgu12WBIHQtvej2MdHSH0,云与海,50,258267,0,['阿YueYue'],['1QLBXKM5GCpyQQSVMNZqrZ'],2020-09-26,0.560,...,0,-7.471,0,0.0292,0.785,0.000000,0.0648,0.2110,131.896,4
586655,586668,0NuWgxEp51CutD2pJoF4OM,blind,72,153293,0,['ROLE MODEL'],['1dy5WNgIKQU6ezkpZs4y8z'],2020-10-21,0.765,...,0,-5.223,1,0.0652,0.141,0.000297,0.0924,0.6860,150.091,4
586656,586669,27Y1N4Q4U3EfDU5Ubw8ws2,What They'll Say About Us,70,187601,0,['FINNEAS'],['37M5pPGs6V1fchFJSgCguX'],2020-09-02,0.535,...,7,-12.823,0,0.0408,0.895,0.000150,0.0874,0.0663,145.095,4
586657,586670,45XJsGpFTyzbzeWK8VzR8S,A Day At A Time,58,142003,0,"['Gentle Bones', 'Clara Benin']","['4jGPdu95icCKVF31CcFKbS', '5ebPSE9YI5aLeZ1Z2g...",2021-03-05,0.696,...,10,-6.212,1,0.0345,0.206,0.000003,0.3050,0.4380,90.029,4
586658,586671,5Ocn6dZ3BJFPWh4ylwFXtn,Mar de Emociones,38,214360,0,['Afrosound'],['0i4Qda0k4nf7jnNHmSNpYv'],2015-07-01,0.686,...,6,-7.067,1,0.0363,0.105,0.000000,0.2640,0.9750,112.204,4

In [6]:
# Drop the Unnamed: 0 column
tracks_df = tracks_df.drop('Unnamed: 0', axis=1)

In [7]:
missing_songs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51545 entries, 0 to 51544
Data columns (total 46 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   artists                       51545 non-null  object
 1   available_markets             51545 non-null  object
 2   disc_number                   51545 non-null  int64
 3   duration_ms_x                 51545 non-null  int64
 4   explicit                      51545 non-null  bool
 5   href                          51545 non-null  object
 6   id                            51545 non-null  object
 7   is_local                      51545 non-null  bool
 8   name                          51541 non-null  object
 9   popularity                    51545 non-null  int64
 10  preview_url                   32961 non-null  object
 11  track_number                  51545 non-null  int64
 12  type_x                        51545 non-null  object
 13  uri_x                         51545 non-null  object
 14  album.album_type              51545 non-null  object
 15  album.artists                 51545 non-null  object
 16  album.available_markets       51545 non-null  object
 17  album.external_urls.spotify   51545 non-null  object
 18  album.href                    51545 non-null  object
 19  album.id                      51545 non-null  object
 20  album.images                  51545 non-null  object
 21  album.name                    51541 non-null  object
 22  album.release_date            51545 non-null  object
 23  album.release_date_precision  51545 non-null  object
 24  album.total_tracks            51545 non-null  int64
 25  album.type                    51545 non-null  object
 26  album.uri                     51545 non-null  object
 27  external_ids.isrc             51518 non-null  object
 28  external_urls.spotify         51545 non-null  object
 29  danceability                  51394 non-null  float64
 30  energy                        51394 non-null  float64
 31  key                           51394 non-null  float64
 32  loudness                      51394 non-null  float64
 33  mode                          51394 non-null  float64
 34  speechiness                   51394 non-null  float64
 35  acousticness                  51394 non-null  float64
 36  instrumentalness              51394 non-null  float64
 37  liveness                      51394 non-null  float64
 38  valence                       51394 non-null  float64
 39  tempo                         51394 non-null  float64
 40  type_y                        51394 non-null  object
 41  uri_y                         51394 non-null  object
 42  track_href                    51394 non-null  object
 43  analysis_url                  51394 non-null  object
 44  duration_ms_y                 51394 non-null  float64
 45  time_signature                51394 non-null  float64
dtypes: bool(2), float64(13), int64(5), object(26)
memory usage: 17.4+ MB

In [8]:
missing_songs_df['analysis_url']

0        https://api.spotify.com/v1/audio-analysis/5XJJ...
1        https://api.spotify.com/v1/audio-analysis/1xzn...
2        https://api.spotify.com/v1/audio-analysis/0XUf...
3        https://api.spotify.com/v1/audio-analysis/6O6M...
4        https://api.spotify.com/v1/audio-analysis/1AhD...
                               ...
51540    https://api.spotify.com/v1/audio-analysis/48uN...
51541    https://api.spotify.com/v1/audio-analysis/48vB...
51542    https://api.spotify.com/v1/audio-analysis/48vE...
51543    https://api.spotify.com/v1/audio-analysis/48vU...
51544    https://api.spotify.com/v1/audio-analysis/3tqG...
Name: analysis_url, Length: 51545, dtype: object

In [9]:
missing_songs_df.tail()

,artists,available_markets,disc_number,duration_ms_x,explicit,href,id,is_local,name,popularity,...,instrumentalness,liveness,valence,tempo,type_y,uri_y,track_href,analysis_url,duration_ms_y,time_signature
51540,[{'external_urls': {'spotify': 'https://open.s...,"['AD', 'AE', 'AG', 'AL', 'AM', 'AO', 'AR', 'AT...",1,212816,False,https://api.spotify.com/v1/tracks/48uNF8nyBdWg...,48uNF8nyBdWgobrPdJdIkK,False,Gave To Me,30,...,0.609000,0.0864,0.106,150.023,audio_features,spotify:track:48uNF8nyBdWgobrPdJdIkK,https://api.spotify.com/v1/tracks/48uNF8nyBdWg...,https://api.spotify.com/v1/audio-analysis/48uN...,212817.0,4.0
51541,[{'external_urls': {'spotify': 'https://open.s...,"['AD', 'AE', 'AG', 'AL', 'AM', 'AO', 'AR', 'AT...",1,349773,False,https://api.spotify.com/v1/tracks/48vBzvcsyJcV...,48vBzvcsyJcV6t2mJUPjA3,False,One Step Up,31,...,0.012800,0.1480,0.347,73.917,audio_features,spotify:track:48vBzvcsyJcV6t2mJUPjA3,https://api.spotify.com/v1/tracks/48vBzvcsyJcV...,https://api.spotify.com/v1/audio-analysis/48vB...,349773.0,4.0
51542,[{'external_urls': {'spotify': 'https://open.s...,['US'],1,137453,False,https://api.spotify.com/v1/tracks/48vEY7E0fzaa...,48vEY7E0fzaadTjo065bEd,False,Trees,10,...,0.000004,0.9630,0.539,155.772,audio_features,spotify:track:48vEY7E0fzaadTjo065bEd,https://api.spotify.com/v1/tracks/48vEY7E0fzaa...,https://api.spotify.com/v1/audio-analysis/48vE...,137453.0,4.0
51543,[{'external_urls': {'spotify': 'https://open.s...,"['AD', 'AE', 'AG', 'AL', 'AM', 'AO', 'AR', 'AT...",1,293066,False,https://api.spotify.com/v1/tracks/48vU2obDFTN5...,48vU2obDFTN5QqePnc1hDP,False,New Moon (The Meadow),26,...,0.941000,0.0951,0.141,119.983,audio_features,spotify:track:48vU2obDFTN5QqePnc1hDP,https://api.spotify.com/v1/tracks/48vU2obDFTN5...,https://api.spotify.com/v1/audio-analysis/48vU...,293067.0,4.0
51544,[{'external_urls': {'spotify': 'https://open.s...,"['AD', 'AE', 'AG', 'AL', 'AM', 'AO', 'AR', 'AT...",1,184685,True,https://api.spotify.com/v1/tracks/3tqG4wRhHz00...,3tqG4wRhHz00vUMhjfp8QL,False,Walk With Me,9,...,0.000000,0.1090,0.441,98.107,audio_features,spotify:track:3tqG4wRhHz00vUMhjfp8QL,https://api.spotify.com/v1/tracks/3tqG4wRhHz00...,https://api.spotify.com/v1/audio-analysis/3tqG...,184686.0,4.0

In [10]:
# Keep the columns that match columns in tracks_df

# Drop clearly unnecessary columns
missing_songs_df = missing_songs_df.drop(['available_markets', 'disc_number', 'href', 'is_local', 'preview_url', 'track_number', 'type_x', 
                                          'album.available_markets', 'album.external_urls.spotify', 'album.href', 'album.images', 'album.total_tracks',
                                          'album.type', 'album.uri', 'external_ids.isrc', 'external_urls.spotify', 'type_y', 'track_href', 'analysis_url'], axis=1)

In [11]:
missing_songs_df.tail()

,artists,duration_ms_x,explicit,id,name,popularity,uri_x,album.album_type,album.artists,album.id,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,uri_y,duration_ms_y,time_signature
51540,[{'external_urls': {'spotify': 'https://open.s...,212816,False,48uNF8nyBdWgobrPdJdIkK,Gave To Me,30,spotify:track:48uNF8nyBdWgobrPdJdIkK,single,[{'external_urls': {'spotify': 'https://open.s...,4GCE8yEjzrvXXie9tNI93d,...,1.0,0.0954,0.000827,0.609000,0.0864,0.106,150.023,spotify:track:48uNF8nyBdWgobrPdJdIkK,212817.0,4.0
51541,[{'external_urls': {'spotify': 'https://open.s...,349773,False,48vBzvcsyJcV6t2mJUPjA3,One Step Up,31,spotify:track:48vBzvcsyJcV6t2mJUPjA3,album,[{'external_urls': {'spotify': 'https://open.s...,28fqmcfV4mpPsqhdNKUeTc,...,1.0,0.0292,0.034300,0.012800,0.1480,0.347,73.917,spotify:track:48vBzvcsyJcV6t2mJUPjA3,349773.0,4.0
51542,[{'external_urls': {'spotify': 'https://open.s...,137453,False,48vEY7E0fzaadTjo065bEd,Trees,10,spotify:track:48vEY7E0fzaadTjo065bEd,single,[{'external_urls': {'spotify': 'https://open.s...,0Paxbrh4KhwzZrzEtNWOcb,...,0.0,0.0861,0.085100,0.000004,0.9630,0.539,155.772,spotify:track:48vEY7E0fzaadTjo065bEd,137453.0,4.0
51543,[{'external_urls': {'spotify': 'https://open.s...,293066,False,48vU2obDFTN5QqePnc1hDP,New Moon (The Meadow),26,spotify:track:48vU2obDFTN5QqePnc1hDP,album,[{'external_urls': {'spotify': 'https://open.s...,3qGpghjmPixrl9LYUY3rrZ,...,0.0,0.0331,0.959000,0.941000,0.0951,0.141,119.983,spotify:track:48vU2obDFTN5QqePnc1hDP,293067.0,4.0
51544,[{'external_urls': {'spotify': 'https://open.s...,184685,True,3tqG4wRhHz00vUMhjfp8QL,Walk With Me,9,spotify:track:3tqG4wRhHz00vUMhjfp8QL,single,[{'external_urls': {'spotify': 'https://open.s...,2sO7zb0BIxOVEgtNSvists,...,0.0,0.3100,0.222000,0.000000,0.1090,0.441,98.107,spotify:track:3tqG4wRhHz00vUMhjfp8QL,184686.0,4.0

In [12]:
# Drop the rest after inspection
missing_songs_df = missing_songs_df.drop(['uri_x', 'album.album_type', 'album.artists', 'album.id', 'uri_y', 'duration_ms_y'], axis = 1)
missing_songs_df.tail()

,artists,duration_ms_x,explicit,id,name,popularity,album.name,album.release_date,album.release_date_precision,danceability,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
51540,[{'external_urls': {'spotify': 'https://open.s...,212816,False,48uNF8nyBdWgobrPdJdIkK,Gave To Me,30,Gave To Me,2017-05-30,day,0.459,...,2.0,-4.976,1.0,0.0954,0.000827,0.609000,0.0864,0.106,150.023,4.0
51541,[{'external_urls': {'spotify': 'https://open.s...,349773,False,48vBzvcsyJcV6t2mJUPjA3,One Step Up,31,"No Shoes, No Shirt, No Problems",2002-04-02,day,0.552,...,5.0,-12.713,1.0,0.0292,0.034300,0.012800,0.1480,0.347,73.917,4.0
51542,[{'external_urls': {'spotify': 'https://open.s...,137453,False,48vEY7E0fzaadTjo065bEd,Trees,10,Trees,2005-10-11,day,0.406,...,1.0,-6.285,0.0,0.0861,0.085100,0.000004,0.9630,0.539,155.772,4.0
51543,[{'external_urls': {'spotify': 'https://open.s...,293066,False,48vU2obDFTN5QqePnc1hDP,New Moon (The Meadow),26,Movie Moods: In The Twilight - 12 Supernatural...,2011-01-01,day,0.573,...,9.0,-15.921,0.0,0.0331,0.959000,0.941000,0.0951,0.141,119.983,4.0
51544,[{'external_urls': {'spotify': 'https://open.s...,184685,True,3tqG4wRhHz00vUMhjfp8QL,Walk With Me,9,Walk With Me,2016-08-19,day,0.774,...,9.0,-2.908,0.0,0.3100,0.222000,0.000000,0.1090,0.441,98.107,4.0

In [13]:
# Drop release date precision
missing_songs_df = missing_songs_df.drop('album.release_date_precision', axis=1)

In [14]:
missing_songs_df = missing_songs_df.drop('album.name', axis=1)

In [15]:
missing_songs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51545 entries, 0 to 51544
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   artists             51545 non-null  object
 1   duration_ms_x       51545 non-null  int64
 2   explicit            51545 non-null  bool
 3   id                  51545 non-null  object
 4   name                51541 non-null  object
 5   popularity          51545 non-null  int64
 6   album.release_date  51545 non-null  object
 7   danceability        51394 non-null  float64
 8   energy              51394 non-null  float64
 9   key                 51394 non-null  float64
 10  loudness            51394 non-null  float64
 11  mode                51394 non-null  float64
 12  speechiness         51394 non-null  float64
 13  acousticness        51394 non-null  float64
 14  instrumentalness    51394 non-null  float64
 15  liveness            51394 non-null  float64
 16  valence             51394 non-null  float64
 17  tempo               51394 non-null  float64
 18  time_signature      51394 non-null  float64
dtypes: bool(1), float64(12), int64(2), object(4)
memory usage: 7.1+ MB

In [16]:
# Rename columns in playlist DF to match the tracks DF
column_list = tracks_df.columns.tolist()
column_list

['id',
 'name',
 'popularity',
 'duration_ms',
 'explicit',
 'artists',
 'id_artists',
 'release_date',
 'danceability',
 'energy',
 'key',
 'loudness',
 'mode',
 'speechiness',
 'acousticness',
 'instrumentalness',
 'liveness',
 'valence',
 'tempo',
 'time_signature']

In [17]:
# Rename columns
missing_songs_df = missing_songs_df.rename(columns={'duration_ms_x': 'duration_ms', 'album.release_date': 'release_date'})

In [18]:
missing_songs_df['artists']

0        [{'external_urls': {'spotify': 'https://open.s...
1        [{'external_urls': {'spotify': 'https://open.s...
2        [{'external_urls': {'spotify': 'https://open.s...
3        [{'external_urls': {'spotify': 'https://open.s...
4        [{'external_urls': {'spotify': 'https://open.s...
                               ...
51540    [{'external_urls': {'spotify': 'https://open.s...
51541    [{'external_urls': {'spotify': 'https://open.s...
51542    [{'external_urls': {'spotify': 'https://open.s...
51543    [{'external_urls': {'spotify': 'https://open.s...
51544    [{'external_urls': {'spotify': 'https://open.s...
Name: artists, Length: 51545, dtype: object

### Get the artist names and id

In [19]:
# Copy the original dataframe
artists_info_df = missing_songs_df.copy()

# Split the cell at whitespace and create dataframe
artists_info_df = artists_info_df['artists'].str.split(':', expand=True)
artists_info_df.tail()

,0,1,2,3,4,5,6,7,8,9,...,233,234,235,236,237,238,239,240,241,242
51540,[{'external_urls',{'spotify','https,//open.spotify.com/artist/0M3cZtjQZ8fz3Hbw1A4C...,'https,//api.spotify.com/v1/artists/0M3cZtjQZ8fz3Hbw1...,"'0M3cZtjQZ8fz3Hbw1A4CwF', 'name'","'T-Mass', 'type'","'artist', 'uri'",'spotify,...,None,None,None,None,None,None,None,None,None,None
51541,[{'external_urls',{'spotify','https,//open.spotify.com/artist/3grHWM9bx2E9vwJCdlRv...,'https,//api.spotify.com/v1/artists/3grHWM9bx2E9vwJCd...,"'3grHWM9bx2E9vwJCdlRv9O', 'name'","'Kenny Chesney', 'type'","'artist', 'uri'",'spotify,...,None,None,None,None,None,None,None,None,None,None
51542,[{'external_urls',{'spotify','https,//open.spotify.com/artist/0J7ESdJjIJ5tvkH7r78r...,'https,//api.spotify.com/v1/artists/0J7ESdJjIJ5tvkH7r...,"'0J7ESdJjIJ5tvkH7r78r6c', 'name'","'Marty Casey', 'type'","'artist', 'uri'",'spotify,...,None,None,None,None,None,None,None,None,None,None
51543,[{'external_urls',{'spotify','https,//open.spotify.com/artist/7nI3WkJ9XmtzjVZHwllf...,'https,//api.spotify.com/v1/artists/7nI3WkJ9XmtzjVZHw...,"'7nI3WkJ9XmtzjVZHwllf8n', 'name'","'Michael Omartian', 'type'","'artist', 'uri'",'spotify,...,None,None,None,None,None,None,None,None,None,None
51544,[{'external_urls',{'spotify','https,//open.spotify.com/artist/1q13yHC6Syg5Y8iPLrRn...,'https,//api.spotify.com/v1/artists/1q13yHC6Syg5Y8iPL...,"'1q13yHC6Syg5Y8iPLrRnCq', 'name'","'Joell Ortiz', 'type'","'artist', 'uri'",'spotify,...,None,None,None,None,None,None,None,None,None,None

In [20]:
# Drop nan
artists_info_df.dropna(axis=1)

,0,1,2,3,4,5,6,7,8,9,10,11
0,[{'external_urls',{'spotify','https,//open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS...,'https,//api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQ...,"'5K4W6rqBFWDnAN6FQUkS6x', 'name'","'Kanye West', 'type'","'artist', 'uri'",'spotify,artist,"5K4W6rqBFWDnAN6FQUkS6x'}, {'external_urls'"
1,[{'external_urls',{'spotify','https,//open.spotify.com/artist/3TVXtAsR1Inumwj472S9...,'https,//api.spotify.com/v1/artists/3TVXtAsR1Inumwj47...,"'3TVXtAsR1Inumwj472S9r4', 'name'","'Drake', 'type'","'artist', 'uri'",'spotify,artist,"3TVXtAsR1Inumwj472S9r4'}, {'external_urls'"
2,[{'external_urls',{'spotify','https,//open.spotify.com/artist/23zg3TcAtWQy7J6upgbU...,'https,//api.spotify.com/v1/artists/23zg3TcAtWQy7J6up...,"'23zg3TcAtWQy7J6upgbUnj', 'name'","'Usher', 'type'","'artist', 'uri'",'spotify,artist,"23zg3TcAtWQy7J6upgbUnj'}, {'external_urls'"
3,[{'external_urls',{'spotify','https,//open.spotify.com/artist/69GGBxA162lTqCwzJG5j...,'https,//api.spotify.com/v1/artists/69GGBxA162lTqCwzJ...,"'69GGBxA162lTqCwzJG5jLp', 'name'","'The Chainsmokers', 'type'","'artist', 'uri'",'spotify,artist,"69GGBxA162lTqCwzJG5jLp'}, {'external_urls'"
4,[{'external_urls',{'spotify','https,//open.spotify.com/artist/1dfeR4HaWDbWqFHLkxsg...,'https,//api.spotify.com/v1/artists/1dfeR4HaWDbWqFHLk...,"'1dfeR4HaWDbWqFHLkxsg1d', 'name'","'Queen', 'type'","'artist', 'uri'",'spotify,artist,1dfeR4HaWDbWqFHLkxsg1d'}]
...,...,...,...,...,...,...,...,...,...,...,...,...
51540,[{'external_urls',{'spotify','https,//open.spotify.com/artist/0M3cZtjQZ8fz3Hbw1A4C...,'https,//api.spotify.com/v1/artists/0M3cZtjQZ8fz3Hbw1...,"'0M3cZtjQZ8fz3Hbw1A4CwF', 'name'","'T-Mass', 'type'","'artist', 'uri'",'spotify,artist,"0M3cZtjQZ8fz3Hbw1A4CwF'}, {'external_urls'"
51541,[{'external_urls',{'spotify','https,//open.spotify.com/artist/3grHWM9bx2E9vwJCdlRv...,'https,//api.spotify.com/v1/artists/3grHWM9bx2E9vwJCd...,"'3grHWM9bx2E9vwJCdlRv9O', 'name'","'Kenny Chesney', 'type'","'artist', 'uri'",'spotify,artist,3grHWM9bx2E9vwJCdlRv9O'}]
51542,[{'external_urls',{'spotify','https,//open.spotify.com/artist/0J7ESdJjIJ5tvkH7r78r...,'https,//api.spotify.com/v1/artists/0J7ESdJjIJ5tvkH7r...,"'0J7ESdJjIJ5tvkH7r78r6c', 'name'","'Marty Casey', 'type'","'artist', 'uri'",'spotify,artist,0J7ESdJjIJ5tvkH7r78r6c'}]
51543,[{'external_urls',{'spotify','https,//open.spotify.com/artist/7nI3WkJ9XmtzjVZHwllf...,'https,//api.spotify.com/v1/artists/7nI3WkJ9XmtzjVZHw...,"'7nI3WkJ9XmtzjVZHwllf8n', 'name'","'Michael Omartian', 'type'","'artist', 'uri'",'spotify,artist,7nI3WkJ9XmtzjVZHwllf8n'}]
51544,[{'external_urls',{'spotify','https,//open.spotify.com/artist/1q13yHC6Syg5Y8iPLrRn...,'https,//api.spotify.com/v1/artists/1q13yHC6Syg5Y8iPL...,"'1q13yHC6Syg5Y8iPLrRnCq', 'name'","'Joell Ortiz', 'type'","'artist', 'uri'",'spotify,artist,"1q13yHC6Syg5Y8iPLrRnCq'}, {'external_urls'"

In [21]:
# Get the columns with id and names
d = {'id_artists': artists_info_df[6], 'artists': artists_info_df[7]}

In [22]:
# Create dataframe
artists_info_df = pd.DataFrame(data=d)
artists_info_df

                              id_artists                      artists
0       '5K4W6rqBFWDnAN6FQUkS6x', 'name'         'Kanye West', 'type'
1       '3TVXtAsR1Inumwj472S9r4', 'name'              'Drake', 'type'
2       '23zg3TcAtWQy7J6upgbUnj', 'name'              'Usher', 'type'
3       '69GGBxA162lTqCwzJG5jLp', 'name'   'The Chainsmokers', 'type'
4       '1dfeR4HaWDbWqFHLkxsg1d', 'name'              'Queen', 'type'
...                                  ...                          ...
51540   '0M3cZtjQZ8fz3Hbw1A4CwF', 'name'             'T-Mass', 'type'
51541   '3grHWM9bx2E9vwJCdlRv9O', 'name'      'Kenny Chesney', 'type'
51542   '0J7ESdJjIJ5tvkH7r78r6c', 'name'        'Marty Casey', 'type'
51543   '7nI3WkJ9XmtzjVZHwllf8n', 'name'   'Michael Omartian', 'type'
51544   '1q13yHC6Syg5Y8iPLrRnCq', 'name'        'Joell Ortiz', 'type'

[51545 rows x 2 columns]

In [23]:
# Remove string 'name' from column
id_artists = artists_info_df['id_artists'].str.replace(", 'name'", '', regex=True)
id_artists

0         '5K4W6rqBFWDnAN6FQUkS6x'
1         '3TVXtAsR1Inumwj472S9r4'
2         '23zg3TcAtWQy7J6upgbUnj'
3         '69GGBxA162lTqCwzJG5jLp'
4         '1dfeR4HaWDbWqFHLkxsg1d'
                   ...
51540     '0M3cZtjQZ8fz3Hbw1A4CwF'
51541     '3grHWM9bx2E9vwJCdlRv9O'
51542     '0J7ESdJjIJ5tvkH7r78r6c'
51543     '7nI3WkJ9XmtzjVZHwllf8n'
51544     '1q13yHC6Syg5Y8iPLrRnCq'
Name: id_artists, Length: 51545, dtype: object

In [24]:
# Remove string 'type' from column
artist_names = artists_info_df['artists'].str.replace(", 'type'", '', regex=True)
artist_names

0               'Kanye West'
1                    'Drake'
2                    'Usher'
3         'The Chainsmokers'
4                    'Queen'
                ...
51540               'T-Mass'
51541        'Kenny Chesney'
51542          'Marty Casey'
51543     'Michael Omartian'
51544          'Joell Ortiz'
Name: artists, Length: 51545, dtype: object

In [25]:
# Reassemble cleaned columns into dataframe
d = {'id_artists': id_artists, 'artists': artist_names}
cleaned_artists_column = pd.DataFrame(data=d)
cleaned_artists_column

                      id_artists              artists
0       '5K4W6rqBFWDnAN6FQUkS6x'         'Kanye West'
1       '3TVXtAsR1Inumwj472S9r4'              'Drake'
2       '23zg3TcAtWQy7J6upgbUnj'              'Usher'
3       '69GGBxA162lTqCwzJG5jLp'   'The Chainsmokers'
4       '1dfeR4HaWDbWqFHLkxsg1d'              'Queen'
...                          ...                  ...
51540   '0M3cZtjQZ8fz3Hbw1A4CwF'             'T-Mass'
51541   '3grHWM9bx2E9vwJCdlRv9O'      'Kenny Chesney'
51542   '0J7ESdJjIJ5tvkH7r78r6c'        'Marty Casey'
51543   '7nI3WkJ9XmtzjVZHwllf8n'   'Michael Omartian'
51544   '1q13yHC6Syg5Y8iPLrRnCq'        'Joell Ortiz'

[51545 rows x 2 columns]

In [26]:
# Merge missing songs dataframe with clean artist name and id dataframe
cleaned_missing_songs_df = pd.merge(missing_songs_df, cleaned_artists_column, left_index=True, right_index=True)
cleaned_missing_songs_df

,artists_x,duration_ms,explicit,id,name,popularity,release_date,danceability,energy,key,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,id_artists,artists_y
0,[{'external_urls': {'spotify': 'https://open.s...,207626,True,5XJJdNPkwmbUwE79gv0NxK,Gold Digger,1,2005-01-01,0.646,0.696,1.0,...,0.0,0.3420,0.019200,0.000000,0.0762,0.625,92.880,4.0,'5K4W6rqBFWDnAN6FQUkS6x','Kanye West'
1,[{'external_urls': {'spotify': 'https://open.s...,173986,False,1xznGGDReH1oQq0xzbwXa3,One Dance,2,2016-05-06,0.791,0.619,1.0,...,1.0,0.0532,0.007840,0.004230,0.3510,0.371,103.989,4.0,'3TVXtAsR1Inumwj472S9r4','Drake'
2,[{'external_urls': {'spotify': 'https://open.s...,250373,False,0XUfyU2QviPAs6bxSpXYG4,Yeah!,0,2004-03-08,0.881,0.788,2.0,...,1.0,0.1680,0.021200,0.000000,0.0377,0.592,104.997,4.0,'23zg3TcAtWQy7J6upgbUnj','Usher'
3,[{'external_urls': {'spotify': 'https://open.s...,225800,False,6O6M7pJLABmfBRoGZMu76Y,Roses (feat. ROZES),31,2016-08-10,0.716,0.806,4.0,...,1.0,0.0466,0.036100,0.004130,0.2440,0.347,100.033,4.0,'69GGBxA162lTqCwzJG5jLp','The Chainsmokers'
4,[{'external_urls': {'spotify': 'https://open.s...,354320,False,1AhDOtG9vPSOmsWgNW0BEY,Bohemian Rhapsody - Remastered 2011,20,1975-11-21,0.414,0.404,0.0,...,0.0,0.0499,0.271000,0.000000,0.3000,0.224,71.105,4.0,'1dfeR4HaWDbWqFHLkxsg1d','Queen'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51540,[{'external_urls': {'spotify': 'https://open.s...,212816,False,48uNF8nyBdWgobrPdJdIkK,Gave To Me,30,2017-05-30,0.459,0.770,2.0,...,1.0,0.0954,0.000827,0.609000,0.0864,0.106,150.023,4.0,'0M3cZtjQZ8fz3Hbw1A4CwF','T-Mass'
51541,[{'external_urls': {'spotify': 'https://open.s...,349773,False,48vBzvcsyJcV6t2mJUPjA3,One Step Up,31,2002-04-02,0.552,0.410,5.0,...,1.0,0.0292,0.034300,0.012800,0.1480,0.347,73.917,4.0,'3grHWM9bx2E9vwJCdlRv9O','Kenny Chesney'
51542,[{'external_urls': {'spotify': 'https://open.s...,137453,False,48vEY7E0fzaadTjo065bEd,Trees,10,2005-10-11,0.406,0.870,1.0,...,0.0,0.0861,0.085100,0.000004,0.9630,0.539,155.772,4.0,'0J7ESdJjIJ5tvkH7r78r6c','Marty Casey'
51543,[{'external_urls': {'spotify': 'https://open.s...,293066,False,48vU2obDFTN5QqePnc1hDP,New Moon (The Meadow),26,2011-01-01,0.573,0.143,9.0,...,0.0,0.0331,0.959000,0.941000,0.0951,0.141,119.983,4.0,'7nI3WkJ9XmtzjVZHwllf8n','Michael Omartian'
51544,[{'external_urls': {'spotify': 'https://open.s...,184685,True,3tqG4wRhHz00vUMhjfp8QL,Walk With Me,9,2016-08-19,0.774,0.870,9.0,...,0.0,0.3100,0.222000,0.000000,0.1090,0.441,98.107,4.0,'1q13yHC6Syg5Y8iPLrRnCq','Joell Ortiz'

In [27]:
# Drop the artists_x column
cleaned_missing_songs_df = cleaned_missing_songs_df.drop('artists_x', axis=1)

In [28]:
# Rename artists_y to artists and reorder the columns to match tracks_df
cleaned_missing_songs_df = cleaned_missing_songs_df.rename(columns={'artists_y': 'artists'})
cleaned_missing_songs_df = cleaned_missing_songs_df[column_list]
cleaned_missing_songs_df

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,5XJJdNPkwmbUwE79gv0NxK,Gold Digger,1,207626,True,'Kanye West','5K4W6rqBFWDnAN6FQUkS6x',2005-01-01,0.646,0.696,1.0,-5.572,0.0,0.3420,0.019200,0.000000,0.0762,0.625,92.880,4.0
1,1xznGGDReH1oQq0xzbwXa3,One Dance,2,173986,False,'Drake','3TVXtAsR1Inumwj472S9r4',2016-05-06,0.791,0.619,1.0,-5.886,1.0,0.0532,0.007840,0.004230,0.3510,0.371,103.989,4.0
2,0XUfyU2QviPAs6bxSpXYG4,Yeah!,0,250373,False,'Usher','23zg3TcAtWQy7J6upgbUnj',2004-03-08,0.881,0.788,2.0,-4.669,1.0,0.1680,0.021200,0.000000,0.0377,0.592,104.997,4.0
3,6O6M7pJLABmfBRoGZMu76Y,Roses (feat. ROZES),31,225800,False,'The Chainsmokers','69GGBxA162lTqCwzJG5jLp',2016-08-10,0.716,0.806,4.0,-7.602,1.0,0.0466,0.036100,0.004130,0.2440,0.347,100.033,4.0
4,1AhDOtG9vPSOmsWgNW0BEY,Bohemian Rhapsody - Remastered 2011,20,354320,False,'Queen','1dfeR4HaWDbWqFHLkxsg1d',1975-11-21,0.414,0.404,0.0,-9.928,0.0,0.0499,0.271000,0.000000,0.3000,0.224,71.105,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51540,48uNF8nyBdWgobrPdJdIkK,Gave To Me,30,212816,False,'T-Mass','0M3cZtjQZ8fz3Hbw1A4CwF',2017-05-30,0.459,0.770,2.0,-4.976,1.0,0.0954,0.000827,0.609000,0.0864,0.106,150.023,4.0
51541,48vBzvcsyJcV6t2mJUPjA3,One Step Up,31,349773,False,'Kenny Chesney','3grHWM9bx2E9vwJCdlRv9O',2002-04-02,0.552,0.410,5.0,-12.713,1.0,0.0292,0.034300,0.012800,0.1480,0.347,73.917,4.0
51542,48vEY7E0fzaadTjo065bEd,Trees,10,137453,False,'Marty Casey','0J7ESdJjIJ5tvkH7r78r6c',2005-10-11,0.406,0.870,1.0,-6.285,0.0,0.0861,0.085100,0.000004,0.9630,0.539,155.772,4.0
51543,48vU2obDFTN5QqePnc1hDP,New Moon (The Meadow),26,293066,False,'Michael Omartian','7nI3WkJ9XmtzjVZHwllf8n',2011-01-01,0.573,0.143,9.0,-15.921,0.0,0.0331,0.959000,0.941000,0.0951,0.141,119.983,4.0
51544,3tqG4wRhHz00vUMhjfp8QL,Walk With Me,9,184685,True,'Joell Ortiz','1q13yHC6Syg5Y8iPLrRnCq',2016-08-19,0.774,0.870,9.0,-2.908,0.0,0.3100,0.222000,0.000000,0.1090,0.441,98.107,4.0

In [29]:
cleaned_missing_songs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51545 entries, 0 to 51544
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                51545 non-null  object
 1   name              51541 non-null  object
 2   popularity        51545 non-null  int64
 3   duration_ms       51545 non-null  int64
 4   explicit          51545 non-null  bool
 5   artists           51545 non-null  object
 6   id_artists        51545 non-null  object
 7   release_date      51545 non-null  object
 8   danceability      51394 non-null  float64
 9   energy            51394 non-null  float64
 10  key               51394 non-null  float64
 11  loudness          51394 non-null  float64
 12  mode              51394 non-null  float64
 13  speechiness       51394 non-null  float64
 14  acousticness      51394 non-null  float64
 15  instrumentalness  51394 non-null  float64
 16  liveness          51394 non-null  float64
 17  valence           51394 non-null  float64
 18  tempo             51394 non-null  float64
 19  time_signature    51394 non-null  float64
dtypes: bool(1), float64(12), int64(2), object(5)
memory usage: 7.5+ MB

In [30]:
# Save Null values to new dataframe for inspection
missing_songs_nulls_df = cleaned_missing_songs_df[cleaned_missing_songs_df.isnull().any(axis=1)]
missing_songs_nulls_df

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
6017,34E9hD7Pu65I2T29SJWxxa,NaN,0,164208,False,'','0LyfQWJT6nXafLPZqxe9Of',2015-04-20,0.759,0.668,11.0,-4.183,1.0,0.0820,0.11800,0.000,0.113,0.585,139.963,4.0
31070,7HqxdIaQIututlNzxt6jJX,NaN,0,213320,False,'','0LyfQWJT6nXafLPZqxe9Of',2012-01-01,0.588,0.905,2.0,-4.432,1.0,0.0307,0.05800,0.000,0.502,0.736,132.083,4.0
33049,2zRKPKF78qFoG0c4R6KNlG,Young Blood,0,520813,False,'The Districts','3HZgaiR960RFqx9d4LPraD',2015-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33050,1au9q3wiWxIwXTazIjHdfF,Give Me Something,54,158720,False,'Seafret','4Ly0KABsxlx4fNj63zJTrF',2016-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33051,2zt39AH0vDaEZojtwUUZLz,This Is Who We Are,34,225853,False,'Hawthorne Heights','126FigDBtqwS2YsOYMTPQe',2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44944,54DsyICxMms5vGsaUwrzlY,Vintage,38,219987,True,'Allie X','0wnYgCeP013HkKoOyC5V32',2017-06-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44945,0uldII45YbbaU9mUeWNnMP,Secrets,35,188982,False,'Andrew Applepie','5BYcwjrQth7em7maAt0yKE',2017-03-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44946,54G8RcdxI3jImq9j6DKeSZ,Words Left Unsaid,18,210213,False,'David Nevue','7zbq3gjHu4JAiMV7dWbUdv',2005-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45226,5CmMyiq4um2aFhiLZ1rPWo,Best of 2016 (Album Mix),0,9146416,False,'Monstercat','4YwB41gFHCxY5bcNR3CcIH',2016-12-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51254,49sc9cNZvWKiI5TgPvhulE,NaN,0,354821,False,'','0LyfQWJT6nXafLPZqxe9Of',2016-11-03,0.841,0.776,6.0,-6.187,1.0,0.0602,0.00632,0.113,0.118,0.670,114.998,4.0

In [31]:
missing_songs_nulls_df.describe()

,popularity,duration_ms,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
count,155.000000,1.550000e+02,4.000000,4.000000,4.000000,4.000000,4.0,4.000000,4.000000,4.00000,4.000000,4.00000,4.000000,4.0
mean,19.806452,3.438201e+05,0.697500,0.732000,6.750000,-5.399500,1.0,0.051000,0.208580,0.02825,0.201400,0.64850,134.746250,4.0
std,18.042553,1.012120e+06,0.123133,0.140677,3.774917,1.289224,0.0,0.024858,0.299115,0.05650,0.201428,0.06885,15.491505,0.0
min,0.000000,8.278600e+04,0.588000,0.579000,2.000000,-6.796000,1.0,0.030700,0.006320,0.00000,0.072600,0.58500,114.998000,4.0
25%,0.000000,1.975440e+05,0.598500,0.645750,5.000000,-6.339250,1.0,0.031000,0.045080,0.00000,0.102900,0.59850,127.811750,4.0
50%,19.000000,2.245330e+05,0.680500,0.722000,7.000000,-5.309500,1.0,0.045650,0.088000,0.00000,0.115500,0.63650,136.023000,4.0
75%,35.000000,2.546460e+05,0.779500,0.808250,8.750000,-4.369750,1.0,0.065650,0.251500,0.02825,0.214000,0.68650,142.957500,4.0
max,64.000000,9.158194e+06,0.841000,0.905000,11.000000,-4.183000,1.0,0.082000,0.652000,0.11300,0.502000,0.73600,151.941000,4.0

In [32]:
# Fill NaNs in name column with 'unkown'
cleaned_missing_songs_df['name'].fillna('unknown', inplace=True)
cleaned_missing_songs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51545 entries, 0 to 51544
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                51545 non-null  object
 1   name              51545 non-null  object
 2   popularity        51545 non-null  int64
 3   duration_ms       51545 non-null  int64
 4   explicit          51545 non-null  bool
 5   artists           51545 non-null  object
 6   id_artists        51545 non-null  object
 7   release_date      51545 non-null  object
 8   danceability      51394 non-null  float64
 9   energy            51394 non-null  float64
 10  key               51394 non-null  float64
 11  loudness          51394 non-null  float64
 12  mode              51394 non-null  float64
 13  speechiness       51394 non-null  float64
 14  acousticness      51394 non-null  float64
 15  instrumentalness  51394 non-null  float64
 16  liveness          51394 non-null  float64
 17  valence           51394 non-null  float64
 18  tempo             51394 non-null  float64
 19  time_signature    51394 non-null  float64
dtypes: bool(1), float64(12), int64(2), object(5)
memory usage: 7.5+ MB

In [33]:
# Dron NaN's from the missing songs dataframe
cleaned_missing_songs_df = cleaned_missing_songs_df.dropna()
cleaned_missing_songs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51394 entries, 0 to 51544
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                51394 non-null  object
 1   name              51394 non-null  object
 2   popularity        51394 non-null  int64
 3   duration_ms       51394 non-null  int64
 4   explicit          51394 non-null  bool
 5   artists           51394 non-null  object
 6   id_artists        51394 non-null  object
 7   release_date      51394 non-null  object
 8   danceability      51394 non-null  float64
 9   energy            51394 non-null  float64
 10  key               51394 non-null  float64
 11  loudness          51394 non-null  float64
 12  mode              51394 non-null  float64
 13  speechiness       51394 non-null  float64
 14  acousticness      51394 non-null  float64
 15  instrumentalness  51394 non-null  float64
 16  liveness          51394 non-null  float64
 17  valence           51394 non-null  float64
 18  tempo             51394 non-null  float64
 19  time_signature    51394 non-null  float64
dtypes: bool(1), float64(12), int64(2), object(5)
memory usage: 7.9+ MB

In [34]:
# Concatenate tracks_df with missing songs df
complete_tracks_df = pd.concat([tracks_df, cleaned_missing_songs_df], axis=0, sort=False)
complete_tracks_df

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,35iwgR4jXetI318WEWsa1Q,Carve,6,126903,0,['Uli'],['45tIt06XoI0Iio4LBEVpls'],1922-02-22,0.645,0.4450,0.0,-13.338,1.0,0.4510,0.674000,0.744000,0.1510,0.127,104.851,3.0
1,021ht4sdgPcrDgSk7JTbKY,Capítulo 2.16 - Banquero Anarquista,0,98200,0,['Fernando Pessoa'],['14jtPCOoNZwquk5wd9DxrY'],1922-06-01,0.695,0.2630,0.0,-22.136,1.0,0.9570,0.797000,0.000000,0.1480,0.655,102.009,1.0
2,07A5yehtSnoedViJAZkNnc,Vivo para Quererte - Remasterizado,0,181640,0,['Ignacio Corsini'],['5LiOoJbxVSAMkBS2fUm3X2'],1922-03-21,0.434,0.1770,1.0,-21.180,1.0,0.0512,0.994000,0.021800,0.2120,0.457,130.418,5.0
3,08FmqUhxtyLTn6pAh6bk45,El Prisionero - Remasterizado,0,176907,0,['Ignacio Corsini'],['5LiOoJbxVSAMkBS2fUm3X2'],1922-03-21,0.321,0.0946,7.0,-27.961,1.0,0.0504,0.995000,0.918000,0.1040,0.397,169.980,3.0
4,08y9GfoqCWfOGsKdwojr5e,Lady of the Evening,0,163080,0,['Dick Haymes'],['3BiJGZsyX9sJchTqcSA7Su'],1922-01-01,0.402,0.1580,3.0,-16.900,0.0,0.0390,0.989000,0.130000,0.3110,0.196,103.220,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51540,48uNF8nyBdWgobrPdJdIkK,Gave To Me,30,212816,0,'T-Mass','0M3cZtjQZ8fz3Hbw1A4CwF',2017-05-30,0.459,0.7700,2.0,-4.976,1.0,0.0954,0.000827,0.609000,0.0864,0.106,150.023,4.0
51541,48vBzvcsyJcV6t2mJUPjA3,One Step Up,31,349773,0,'Kenny Chesney','3grHWM9bx2E9vwJCdlRv9O',2002-04-02,0.552,0.4100,5.0,-12.713,1.0,0.0292,0.034300,0.012800,0.1480,0.347,73.917,4.0
51542,48vEY7E0fzaadTjo065bEd,Trees,10,137453,0,'Marty Casey','0J7ESdJjIJ5tvkH7r78r6c',2005-10-11,0.406,0.8700,1.0,-6.285,0.0,0.0861,0.085100,0.000004,0.9630,0.539,155.772,4.0
51543,48vU2obDFTN5QqePnc1hDP,New Moon (The Meadow),26,293066,0,'Michael Omartian','7nI3WkJ9XmtzjVZHwllf8n',2011-01-01,0.573,0.1430,9.0,-15.921,0.0,0.0331,0.959000,0.941000,0.0951,0.141,119.983,4.0
51544,3tqG4wRhHz00vUMhjfp8QL,Walk With Me,9,184685,1,'Joell Ortiz','1q13yHC6Syg5Y8iPLrRnCq',2016-08-19,0.774,0.8700,9.0,-2.908,0.0,0.3100,0.222000,0.000000,0.1090,0.441,98.107,4.0

In [35]:
complete_tracks_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 638053 entries, 0 to 51544
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                638053 non-null  object
 1   name              638053 non-null  object
 2   popularity        638053 non-null  int64
 3   duration_ms       638053 non-null  int64
 4   explicit          638053 non-null  int64
 5   artists           638053 non-null  object
 6   id_artists        638053 non-null  object
 7   release_date      638053 non-null  object
 8   danceability      638053 non-null  float64
 9   energy            638053 non-null  float64
 10  key               638053 non-null  float64
 11  loudness          638053 non-null  float64
 12  mode              638053 non-null  float64
 13  speechiness       638053 non-null  float64
 14  acousticness      638053 non-null  float64
 15  instrumentalness  638053 non-null  float64
 16  liveness          638053 non-null  float64
 17  valence           638053 non-null  float64
 18  tempo             638053 non-null  float64
 19  time_signature    638053 non-null  float64
dtypes: float64(12), int64(3), object(5)
memory usage: 102.2+ MB

In [36]:
# Export complete tracks df
# complete_tracks_df.to_csv("Resources/complete_tracks_df.csv.gz", index=False, compression='gzip')

In [37]:
# Make the 'id_artists' column a list 
complete_tracks_df['id_artists'] = complete_tracks_df['id_artists'].apply(eval)

In [38]:
# Copy each artists in songs with multiple artists into new rows
exploded_tracks_df = complete_tracks_df.explode('id_artists')

In [39]:
exploded_tracks_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 808551 entries, 0 to 51544
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                808551 non-null  object
 1   name              808551 non-null  object
 2   popularity        808551 non-null  int64
 3   duration_ms       808551 non-null  int64
 4   explicit          808551 non-null  int64
 5   artists           808551 non-null  object
 6   id_artists        808551 non-null  object
 7   release_date      808551 non-null  object
 8   danceability      808551 non-null  float64
 9   energy            808551 non-null  float64
 10  key               808551 non-null  float64
 11  loudness          808551 non-null  float64
 12  mode              808551 non-null  float64
 13  speechiness       808551 non-null  float64
 14  acousticness      808551 non-null  float64
 15  instrumentalness  808551 non-null  float64
 16  liveness          808551 non-null  float64
 17  valence           808551 non-null  float64
 18  tempo             808551 non-null  float64
 19  time_signature    808551 non-null  float64
dtypes: float64(12), int64(3), object(5)
memory usage: 129.5+ MB

# TESTING SCRIPT!!!!

In [40]:
# # Clearn the id_artists column
# exploded_tracks_df['id_artists'].str.replace("' ", '', regex=True)
# exploded_tracks_df['id_artists'].str.replace("' '", '', regex=True)
# exploded_tracks_df['id_artists'].str.replace("\n", '', regex=True)
# exploded_tracks_df['id_artists'].str.replace("''", '', regex=True)

In [41]:
# id_artists

In [42]:
# # Reassemble cleaned columns into dataframe
# d = {'id_artists_cleaned': id_artists}
# id_artists_df = pd.DataFrame(data=d)

# cleaned_exploded_tracks_df = pd.merge(exploded_tracks_df, id_artists_df, left_index=True, right_index=True)
# cleaned_exploded_tracks_df.head()

# # d = {'id_artists': id_artists, 'artists': artist_names}
# # cleaned_artists_column = pd.DataFrame(data=d)
# # cleaned_artists_column

# # cleaned_missing_songs_df = pd.merge(missing_songs_df, cleaned_artists_column, left_index=True, right_index=True)
# # cleaned_missing_songs_df

In [43]:
# Inspect artists_df to prepare merge 
artists_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104349 entries, 0 to 1104348
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   id          1104349 non-null  object
 1   followers   1104336 non-null  float64
 2   genres      1104349 non-null  object
 3   name        1104349 non-null  object
 4   popularity  1104349 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 42.1+ MB

In [44]:
# Inspect the NaN rows, but will not do anything about them for now in case there is no match for them in the complete tracks dataframe
null_artists = artists_df[artists_df.isnull().any(axis=1)]
null_artists

,id,followers,genres,name,popularity
444199,7F71W80jaXFARK7hBjsDI2,NaN,['czech pop'],Marcell,36
444200,3MLHJz04KmEVzCTPclzkEm,NaN,['czech pop'],Niko,21
444797,0cqZsULDZdJTGA4Zqh8Ckv,NaN,[],Savzilla,0
444798,0BuknWzKujyc9HfZ1V50Uk,NaN,[],Duck Doja,0
446635,6ltU5gIDLmWNYaVNHnll5G,NaN,['mexican electronic'],Zofa,0
446636,7C9nWRMbRqpPUuKh2OEw9n,NaN,[],MHV,3
446637,41c30F8zy5UCTSevbn0WfD,NaN,['mexican electronic'],Broadband Star,0
468525,1DK979aOesiZ4Vkus8txqu,NaN,[],AmorArtis Orchestra & Johannes Somary,2
468526,6jkpqSWWsXSuqtsoeAiMDU,NaN,['uk americana'],Police Dog Hogan,14
468527,7aMdHPv79qOuqqBD6TnaCp,NaN,[],"Miles Davis & Charlie ""Bird"" Parker",0
468528,2lr0R5vHGfI0C489h0r6qV,NaN,['dc indie'],Black Dog Prowl,16
468529,0xkSOIeyeTILNIOZKyFgaP,NaN,[],Band of the Fifteenth Field Artillery Regiment...,3
468530,4EqqnE0XMAcreVF84QGYJ0,NaN,[],Robert Steven Williams,0

In [45]:
# Rename columns
artists_df = artists_df.rename(columns={'popularity': 'popularity_artist', 'id': 'id_artists', 'name': 'name_artist'})

In [46]:
# Merge artists_df with complete tracks df
tracks_artists_df = exploded_tracks_df.merge(artists_df, how='left', on='id_artists')
tracks_artists_df.tail()

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,...,acousticness,instrumentalness,liveness,valence,tempo,time_signature,followers,genres,name_artist,popularity_artist
808546,48uNF8nyBdWgobrPdJdIkK,Gave To Me,30,212816,0,'T-Mass',0M3cZtjQZ8fz3Hbw1A4CwF,2017-05-30,0.459,0.770,...,0.000827,0.609000,0.0864,0.106,150.023,4.0,30875.0,"['bass trap', 'gaming edm', 'pop edm', 'traprun']",T-Mass,52.0
808547,48vBzvcsyJcV6t2mJUPjA3,One Step Up,31,349773,0,'Kenny Chesney',3grHWM9bx2E9vwJCdlRv9O,2002-04-02,0.552,0.410,...,0.034300,0.012800,0.1480,0.347,73.917,4.0,3383854.0,"['contemporary country', 'country', 'country r...",Kenny Chesney,77.0
808548,48vEY7E0fzaadTjo065bEd,Trees,10,137453,0,'Marty Casey',0J7ESdJjIJ5tvkH7r78r6c,2005-10-11,0.406,0.870,...,0.085100,0.000004,0.9630,0.539,155.772,4.0,1771.0,[],Marty Casey,25.0
808549,48vU2obDFTN5QqePnc1hDP,New Moon (The Meadow),26,293066,0,'Michael Omartian',7nI3WkJ9XmtzjVZHwllf8n,2011-01-01,0.573,0.143,...,0.959000,0.941000,0.0951,0.141,119.983,4.0,1727.0,['deep christian rock'],Michael Omartian,22.0
808550,3tqG4wRhHz00vUMhjfp8QL,Walk With Me,9,184685,1,'Joell Ortiz',1q13yHC6Syg5Y8iPLrRnCq,2016-08-19,0.774,0.870,...,0.222000,0.000000,0.1090,0.441,98.107,4.0,122159.0,"['alternative hip hop', 'battle rap', 'boom ba...",Joell Ortiz,56.0

In [47]:
# Check dataframe
tracks_artists_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 808551 entries, 0 to 808550
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 808551 non-null  object
 1   name               808551 non-null  object
 2   popularity         808551 non-null  int64
 3   duration_ms        808551 non-null  int64
 4   explicit           808551 non-null  int64
 5   artists            808551 non-null  object
 6   id_artists         808551 non-null  object
 7   release_date       808551 non-null  object
 8   danceability       808551 non-null  float64
 9   energy             808551 non-null  float64
 10  key                808551 non-null  float64
 11  loudness           808551 non-null  float64
 12  mode               808551 non-null  float64
 13  speechiness        808551 non-null  float64
 14  acousticness       808551 non-null  float64
 15  instrumentalness   808551 non-null  float64
 16  liveness           808551 non-null  float64
 17  valence            808551 non-null  float64
 18  tempo              808551 non-null  float64
 19  time_signature     808551 non-null  float64
 20  followers          780198 non-null  float64
 21  genres             780200 non-null  object
 22  name_artist        780200 non-null  object
 23  popularity_artist  780200 non-null  float64
dtypes: float64(14), int64(3), object(7)
memory usage: 154.2+ MB

In [48]:
# Drop the name_artist column because it is redundant
tracks_artists_df = tracks_artists_df.drop('name_artist', axis=1)

In [49]:
tracks_artists_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 808551 entries, 0 to 808550
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 808551 non-null  object
 1   name               808551 non-null  object
 2   popularity         808551 non-null  int64
 3   duration_ms        808551 non-null  int64
 4   explicit           808551 non-null  int64
 5   artists            808551 non-null  object
 6   id_artists         808551 non-null  object
 7   release_date       808551 non-null  object
 8   danceability       808551 non-null  float64
 9   energy             808551 non-null  float64
 10  key                808551 non-null  float64
 11  loudness           808551 non-null  float64
 12  mode               808551 non-null  float64
 13  speechiness        808551 non-null  float64
 14  acousticness       808551 non-null  float64
 15  instrumentalness   808551 non-null  float64
 16  liveness           808551 non-null  float64
 17  valence            808551 non-null  float64
 18  tempo              808551 non-null  float64
 19  time_signature     808551 non-null  float64
 20  followers          780198 non-null  float64
 21  genres             780200 non-null  object
 22  popularity_artist  780200 non-null  float64
dtypes: float64(14), int64(3), object(6)
memory usage: 148.1+ MB

### Theory on NaNs: 
Possible that exploding the 'id_artists' column earlier for songs with more than one artist produced artists ids that do not exist in the artists_df. Proof?

In [50]:
# get the null values
tracks_artists_nulls = tracks_artists_df[tracks_artists_df.isnull().any(axis=1)]
tracks_artists_nulls.head()

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,followers,genres,popularity_artist
13502,0VHoDqq7N5VH1UX93Mdyfj,Air,0,268400,0,"['n/a', 'Johann Sebastian Bach', 'In Motion']",2pKBejGoRlzAc5VHQ0R26E,1935-01-01,0.317,0.317,...,0.0389,0.975,0.956,0.0868,0.129,66.296,4.0,NaN,NaN,NaN
13543,0cSyeb33PyBMtLeUzCgDgO,concerto piccolo,0,279600,0,"['n/a', 'Nitsch, Johannes', 'In Motion']",2pKBejGoRlzAc5VHQ0R26E,1935-01-01,0.535,0.435,...,0.0303,0.732,0.253,0.1190,0.205,106.124,4.0,NaN,NaN,NaN
13699,1GYoPjJvGyYufhbxZmAKmF,drume negrita,0,182400,0,"['n/a', 'Grenet, Ernesto', 'In Motion']",2pKBejGoRlzAc5VHQ0R26E,1935-01-01,0.628,0.661,...,0.0387,0.254,0.236,0.0572,0.805,96.198,4.0,NaN,NaN,NaN
14160,2nUaz5sLG0HccdACC1IG35,i know that my redeemer liveth,0,236733,0,"['n/a', 'Händel, Georg Friedrich (DP)', 'In Mo...",2pKBejGoRlzAc5VHQ0R26E,1935-01-01,0.492,0.286,...,0.0336,0.981,0.892,0.1430,0.273,87.973,3.0,NaN,NaN,NaN
14165,2oYfdKTcUpk3xJZm0CkHJm,summertime,0,246667,0,"['n/a', 'George Gershwin', 'In Motion']",2pKBejGoRlzAc5VHQ0R26E,1935-01-01,0.341,0.424,...,0.0305,0.867,0.812,0.1600,0.264,151.676,4.0,NaN,NaN,NaN

In [51]:
# Check if any of the NaN's are a result of track duplications into various artists when exploded the dataframe
# code source: https://stackoverflow.com/questions/50242968/check-for-duplicate-values-in-pandas-dataframe-column
duplicate_in_tracks_artists = tracks_artists_nulls.duplicated(subset=['name'])
if duplicate_in_tracks_artists.any():
    print(tracks_artists_nulls.loc[~duplicate_in_tracks_artists], end='\n\n')

                            id  \
13502   0VHoDqq7N5VH1UX93Mdyfj
13543   0cSyeb33PyBMtLeUzCgDgO
13699   1GYoPjJvGyYufhbxZmAKmF
14160   2nUaz5sLG0HccdACC1IG35
14165   2oYfdKTcUpk3xJZm0CkHJm
...                        ...
808140  4CG81rWtJWZdk2WURz1iSN
808210  1CCNGAP0mtPwN32RmbFWPP
808242  4C9ua9Pt3cMgIdSvGEO4Qk
808490  48ktgpPFZPjehkAY2nhy16
808528  497nFPGdrdELprSm6eiPWr

                                                     name  popularity  \
13502                                                 Air           0
13543                                    concerto piccolo           0
13699                                       drume negrita           0
14160                      i know that my redeemer liveth           0
14165                                          summertime           0
...                                                   ...         ...
808140  Rise Up 2016 Life In Color Anthem - Radio Version           0
808210                           Tonight (I'm Lovin' You)          19
808242                    Electric Slide (Shall We Dance)          28
808490      Don't Stop Believin' (Made Famous by Journey)          12
808528                                            Wife Er          29

        duration_ms  explicit  \
13502        268400         0
13543        279600         0
13699        182400         0
14160        236733         0
14165        246667         0
...             ...       ...
808140       253733         0
808210       228023         0
808242       350600         0
808490       227560         0
808528       180793         1

                                                  artists  \
13502       ['n/a', 'Johann Sebastian Bach', 'In Motion']
13543            ['n/a', 'Nitsch, Johannes', 'In Motion']
13699             ['n/a', 'Grenet, Ernesto', 'In Motion']
14160   ['n/a', 'Händel, Georg Friedrich (DP)', 'In Mo...
14165             ['n/a', 'George Gershwin', 'In Motion']
...                                                   ...
808140                                           'SOLANO'
808210                  'Made famous by Enrique Iglesias'
808242                                'Grandmaster Slice'
808490                                   'Twilight Falls'
808528                                           'Spenzo'

                    id_artists release_date  danceability  energy  ...  \
13502   2pKBejGoRlzAc5VHQ0R26E   1935-01-01         0.317   0.317  ...
13543   2pKBejGoRlzAc5VHQ0R26E   1935-01-01         0.535   0.435  ...
13699   2pKBejGoRlzAc5VHQ0R26E   1935-01-01         0.628   0.661  ...
14160   2pKBejGoRlzAc5VHQ0R26E   1935-01-01         0.492   0.286  ...
14165   2pKBejGoRlzAc5VHQ0R26E   1935-01-01         0.341   0.424  ...
...                        ...          ...           ...     ...  ...
808140  4JprKwueQv8ws3n7N8BLVC   2016-06-03         0.524   0.682  ...
808210  3VV11sLubWH879vwobGtmL   2011-03-04         0.802   0.715  ...
808242  1z5pJz058rKSFj99anP0Q6   1991-03-04         0.821   0.740  ...
808490  6qaAG4KWJdA0KGcP9xILbc   2010-07-01         0.529   0.670  ...
808528  0aqptyHmxChS0KMoVPeHCN   2013-11-05         0.636   0.915  ...

        speechiness  acousticness  instrumentalness  liveness  valence  \
13502        0.0389      0.975000          0.956000    0.0868    0.129
13543        0.0303      0.732000          0.253000    0.1190    0.205
13699        0.0387      0.254000          0.236000    0.0572    0.805
14160        0.0336      0.981000          0.892000    0.1430    0.273
14165        0.0305      0.867000          0.812000    0.1600    0.264
...             ...           ...               ...       ...      ...
808140       0.0458      0.006190          0.006460    0.4630    0.187
808210       0.2750      0.327000          0.000248    0.1260    0.522
808242       0.1700      0.000936          0.293000    0.3240    0.605
808490       0.0286      0.000002          0.039300    0.1010    0.358
808528       0.0365      0.006640          0.000002    0.3090    0.380

          tempo  time_signature  followers  genres  popularity_artist
13502    66.296             4.0        NaN     NaN                NaN
13543   106.124             4.0        NaN     NaN                NaN
13699    96.198             4.0        NaN     NaN                NaN
14160    87.973             3.0        NaN     NaN                NaN
14165   151.676             4.0        NaN     NaN                NaN
...         ...             ...        ...     ...                ...
808140  135.107             4.0        NaN     NaN                NaN
808210  125.936             4.0        NaN     NaN                NaN
808242  107.778             4.0        NaN     NaN                NaN
808490  129.953             4.0        NaN     NaN                NaN
808528  140.005             4.0        NaN     NaN                NaN

[23006 rows x 23 columns]

In [52]:
# Clean the column
null_artist_id = tracks_artists_nulls['id_artists'].str.replace("' ", '', regex=True)
null_artist_id = tracks_artists_nulls['id_artists'].str.replace("' '", '', regex=True)
null_artist_id = tracks_artists_nulls['id_artists'].str.replace("\n", '', regex=True)
null_artist_id = tracks_artists_nulls['id_artists'].str.replace("''", '', regex=True)

In [53]:
# Save to list
null_artist_id_list = null_artist_id.tolist()

In [54]:
# Check length
len(null_artist_id_list)

28353

In [55]:
# Match length of list to length of nulls
tracks_artists_nulls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28353 entries, 13502 to 808531
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 28353 non-null  object
 1   name               28353 non-null  object
 2   popularity         28353 non-null  int64
 3   duration_ms        28353 non-null  int64
 4   explicit           28353 non-null  int64
 5   artists            28353 non-null  object
 6   id_artists         28353 non-null  object
 7   release_date       28353 non-null  object
 8   danceability       28353 non-null  float64
 9   energy             28353 non-null  float64
 10  key                28353 non-null  float64
 11  loudness           28353 non-null  float64
 12  mode               28353 non-null  float64
 13  speechiness        28353 non-null  float64
 14  acousticness       28353 non-null  float64
 15  instrumentalness   28353 non-null  float64
 16  liveness           28353 non-null  float64
 17  valence            28353 non-null  float64
 18  tempo              28353 non-null  float64
 19  time_signature     28353 non-null  float64
 20  followers          0 non-null      float64
 21  genres             2 non-null      object
 22  popularity_artist  2 non-null      float64
dtypes: float64(14), int64(3), object(6)
memory usage: 5.2+ MB

In [56]:
# Run the id_artists against the id_artists column in artists_df
artists_df['id_artists'].isin(null_artist_id_list).value_counts()

False    1104348
True           1
Name: id_artists, dtype: int64

In [57]:
# Drop NaNs
tracks_artists_df = tracks_artists_df.dropna()
tracks_artists_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780198 entries, 0 to 808550
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 780198 non-null  object
 1   name               780198 non-null  object
 2   popularity         780198 non-null  int64
 3   duration_ms        780198 non-null  int64
 4   explicit           780198 non-null  int64
 5   artists            780198 non-null  object
 6   id_artists         780198 non-null  object
 7   release_date       780198 non-null  object
 8   danceability       780198 non-null  float64
 9   energy             780198 non-null  float64
 10  key                780198 non-null  float64
 11  loudness           780198 non-null  float64
 12  mode               780198 non-null  float64
 13  speechiness        780198 non-null  float64
 14  acousticness       780198 non-null  float64
 15  instrumentalness   780198 non-null  float64
 16  liveness           780198 non-null  float64
 17  valence            780198 non-null  float64
 18  tempo              780198 non-null  float64
 19  time_signature     780198 non-null  float64
 20  followers          780198 non-null  float64
 21  genres             780198 non-null  object
 22  popularity_artist  780198 non-null  float64
dtypes: float64(14), int64(3), object(6)
memory usage: 142.9+ MB

## Merge tracks_artists_df with playlists_df

In [58]:
playlists_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66243 entries, 0 to 66242
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_uri         66243 non-null  object
 1   artist_name       66243 non-null  object
 2   track_name        66243 non-null  object
 3   artist_uri        66243 non-null  object
 4   unique_playlists  66243 non-null  int64
dtypes: int64(1), object(4)
memory usage: 2.5+ MB

In [59]:
playlists_df.head()

,track_uri,artist_name,track_name,artist_uri,unique_playlists
0,7yyRTcZmCiyzzJlNzGC9Ol,DRAM,Broccoli (feat. Lil Yachty),5M0lbkGluOPXLeFjApw8r8,223
1,5dNfHmqgr128gMY2tc5CeJ,R. Kelly,Ignition - Remix,2mxe0TnaNL039ysAj51xPQ,216
2,5XJJdNPkwmbUwE79gv0NxK,Kanye West,Gold Digger,5K4W6rqBFWDnAN6FQUkS6x,213
3,62vpWI1CHwFy7tMIcSStl8,J. Cole,No Role Modelz,6l3HvQ5sa6mXTsMTB19rO5,211
4,7BKLCZ1jbUBVqRi2FVlTVw,The Chainsmokers,Closer,69GGBxA162lTqCwzJG5jLp,205

In [60]:
# Rename 'track_uri' to 'id'
playlists_df = playlists_df.rename(columns={'track_uri': 'id'})

In [61]:
# Merge the tracks_artists_df with playlists_df
full_spotify_df = tracks_artists_df.merge(playlists_df, how='left', on='id')
full_spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780198 entries, 0 to 780197
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 780198 non-null  object
 1   name               780198 non-null  object
 2   popularity         780198 non-null  int64
 3   duration_ms        780198 non-null  int64
 4   explicit           780198 non-null  int64
 5   artists            780198 non-null  object
 6   id_artists         780198 non-null  object
 7   release_date       780198 non-null  object
 8   danceability       780198 non-null  float64
 9   energy             780198 non-null  float64
 10  key                780198 non-null  float64
 11  loudness           780198 non-null  float64
 12  mode               780198 non-null  float64
 13  speechiness        780198 non-null  float64
 14  acousticness       780198 non-null  float64
 15  instrumentalness   780198 non-null  float64
 16  liveness           780198 non-null  float64
 17  valence            780198 non-null  float64
 18  tempo              780198 non-null  float64
 19  time_signature     780198 non-null  float64
 20  followers          780198 non-null  float64
 21  genres             780198 non-null  object
 22  popularity_artist  780198 non-null  float64
 23  artist_name        67859 non-null   object
 24  track_name         67859 non-null   object
 25  artist_uri         67859 non-null   object
 26  unique_playlists   67859 non-null   float64
dtypes: float64(15), int64(3), object(9)
memory usage: 166.7+ MB

In [62]:
full_spotify_df.head()

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,...,valence,tempo,time_signature,followers,genres,popularity_artist,artist_name,track_name,artist_uri,unique_playlists
0,35iwgR4jXetI318WEWsa1Q,Carve,6,126903,0,['Uli'],45tIt06XoI0Iio4LBEVpls,1922-02-22,0.645,0.4450,...,0.127,104.851,3.0,91.0,[],4.0,NaN,NaN,NaN,NaN
1,021ht4sdgPcrDgSk7JTbKY,Capítulo 2.16 - Banquero Anarquista,0,98200,0,['Fernando Pessoa'],14jtPCOoNZwquk5wd9DxrY,1922-06-01,0.695,0.2630,...,0.655,102.009,1.0,3.0,[],0.0,NaN,NaN,NaN,NaN
2,07A5yehtSnoedViJAZkNnc,Vivo para Quererte - Remasterizado,0,181640,0,['Ignacio Corsini'],5LiOoJbxVSAMkBS2fUm3X2,1922-03-21,0.434,0.1770,...,0.457,130.418,5.0,3528.0,"['tango', 'vintage tango']",23.0,NaN,NaN,NaN,NaN
3,08FmqUhxtyLTn6pAh6bk45,El Prisionero - Remasterizado,0,176907,0,['Ignacio Corsini'],5LiOoJbxVSAMkBS2fUm3X2,1922-03-21,0.321,0.0946,...,0.397,169.980,3.0,3528.0,"['tango', 'vintage tango']",23.0,NaN,NaN,NaN,NaN
4,08y9GfoqCWfOGsKdwojr5e,Lady of the Evening,0,163080,0,['Dick Haymes'],3BiJGZsyX9sJchTqcSA7Su,1922-01-01,0.402,0.1580,...,0.196,103.220,4.0,11327.0,"['adult standards', 'big band', 'easy listenin...",35.0,NaN,NaN,NaN,NaN

## Theory on why NaN's from Playlist: 

Probably because Spotify does not count the tracks that are not on a playlist. We assume that if a track has NaN in 'unique_playlists', it means it is not on any playlist

In [63]:
# Drop the redundant columns
full_spotify_df = full_spotify_df.drop(['artist_name', 'track_name', 'artist_uri'], axis=1)
full_spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780198 entries, 0 to 780197
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 780198 non-null  object
 1   name               780198 non-null  object
 2   popularity         780198 non-null  int64
 3   duration_ms        780198 non-null  int64
 4   explicit           780198 non-null  int64
 5   artists            780198 non-null  object
 6   id_artists         780198 non-null  object
 7   release_date       780198 non-null  object
 8   danceability       780198 non-null  float64
 9   energy             780198 non-null  float64
 10  key                780198 non-null  float64
 11  loudness           780198 non-null  float64
 12  mode               780198 non-null  float64
 13  speechiness        780198 non-null  float64
 14  acousticness       780198 non-null  float64
 15  instrumentalness   780198 non-null  float64
 16  liveness           780198 non-null  float64
 17  valence            780198 non-null  float64
 18  tempo              780198 non-null  float64
 19  time_signature     780198 non-null  float64
 20  followers          780198 non-null  float64
 21  genres             780198 non-null  object
 22  popularity_artist  780198 non-null  float64
 23  unique_playlists   67859 non-null   float64
dtypes: float64(15), int64(3), object(6)
memory usage: 148.8+ MB

## Inspect NaN's in unique playlist

In [64]:
# Check for duplicates, because sort_values threw an error: Check for duplicates
full_spotify_df['unique_playlists'].duplicated().any()

True

In [65]:
# Sort dataframe by unique playlist count in descending order
sorted_df = full_spotify_df.sort_values(['unique_playlists'], ascending=False, axis=0)

In [66]:
sorted_df.head(10)

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,...,acousticness,instrumentalness,liveness,valence,tempo,time_signature,followers,genres,popularity_artist,unique_playlists
115831,7yyRTcZmCiyzzJlNzGC9Ol,Broccoli (feat. Lil Yachty),68,225205,1,"['Shelley FKA DRAM', 'Lil Yachty']",6icQOAFXDZKsumw3YXyusw,2016-10-21,0.886,0.525,...,0.236000,0.000000,0.0570,0.708,145.990,4.0,7091897.0,"['atl hip hop', 'hip hop', 'melodic rap', 'rap...",82.0,223.0
115830,7yyRTcZmCiyzzJlNzGC9Ol,Broccoli (feat. Lil Yachty),68,225205,1,"['Shelley FKA DRAM', 'Lil Yachty']",5M0lbkGluOPXLeFjApw8r8,2016-10-21,0.886,0.525,...,0.236000,0.000000,0.0570,0.708,145.990,4.0,799169.0,"['pop rap', 'rap', 'trap', 'underground hip ho...",66.0,223.0
99471,5dNfHmqgr128gMY2tc5CeJ,Ignition - Remix,72,186067,0,['R. Kelly'],2mxe0TnaNL039ysAj51xPQ,2003-01-01,0.795,0.523,...,0.061000,0.000000,0.0914,0.855,133.024,4.0,2257404.0,[],72.0,216.0
730126,5XJJdNPkwmbUwE79gv0NxK,Gold Digger,1,207626,1,'Kanye West',5K4W6rqBFWDnAN6FQUkS6x,2005-01-01,0.646,0.696,...,0.019200,0.000000,0.0762,0.625,92.880,4.0,13713751.0,"['chicago rap', 'rap']",92.0,213.0
111920,62vpWI1CHwFy7tMIcSStl8,No Role Modelz,85,292987,1,['J. Cole'],6l3HvQ5sa6mXTsMTB19rO5,2014-12-09,0.692,0.521,...,0.301000,0.000000,0.0565,0.463,100.450,4.0,13067338.0,"['conscious hip hop', 'hip hop', 'north caroli...",87.0,211.0
114773,7BKLCZ1jbUBVqRi2FVlTVw,Closer,86,244960,0,"['The Chainsmokers', 'Halsey']",26VFTg2z8YR0cCuwLzESi2,2016-07-29,0.748,0.524,...,0.414000,0.000000,0.1110,0.661,95.010,4.0,14626427.0,"['dance pop', 'electropop', 'etherpop', 'indie...",89.0,205.0
114772,7BKLCZ1jbUBVqRi2FVlTVw,Closer,86,244960,0,"['The Chainsmokers', 'Halsey']",69GGBxA162lTqCwzJG5jLp,2016-07-29,0.748,0.524,...,0.414000,0.000000,0.1110,0.661,95.010,4.0,17734996.0,"['dance pop', 'edm', 'electropop', 'pop', 'pop...",85.0,205.0
116100,7KXjTSCq5nL1LoYtL7XAwS,HUMBLE.,83,177000,1,['Kendrick Lamar'],2YZyLoL8N0Wb9xBt1NhZWg,2017-04-14,0.908,0.621,...,0.000282,0.000054,0.0958,0.421,150.011,4.0,17065065.0,"['conscious hip hop', 'hip hop', 'rap', 'west ...",89.0,200.0
113461,27GmP9AWRs744SzKcpJsTZ,Jumpman,74,205879,1,"['Drake', 'Future']",3TVXtAsR1Inumwj472S9r4,2015-09-20,0.852,0.553,...,0.055900,0.000000,0.3320,0.656,142.079,4.0,54416812.0,"['canadian hip hop', 'canadian pop', 'hip hop'...",98.0,196.0
115205,0v9Wz8o0BT8DU38R4ddjeH,No Problem (feat. Lil Wayne & 2 Chainz),72,304607,1,"['Chance the Rapper', 'Lil Wayne', '2 Chainz']",55Aa2cqylxrFIXC767Z865,2016-05-27,0.652,0.795,...,0.156000,0.000000,0.1230,0.788,135.018,4.0,10309562.0,"['hip hop', 'new orleans rap', 'pop rap', 'rap...",90.0,196.0

In [67]:
full_spotify_df.describe()

,popularity,duration_ms,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,followers,popularity_artist,unique_playlists
count,780198.000000,7.801980e+05,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,7.801980e+05,780198.000000,67859.000000
mean,26.587825,2.356172e+05,0.060556,0.555890,0.528174,5.204297,-10.482047,0.660145,0.108992,0.468510,0.122452,0.215230,0.529500,117.554083,3.866066,1.125640e+06,50.156169,4.685628
std,19.153649,1.429087e+05,0.238515,0.174116,0.260076,3.516667,5.540209,0.473660,0.180535,0.359193,0.276619,0.184337,0.262572,29.868547,0.490419,4.066397e+06,20.560089,11.814649
min,0.000000,4.520000e+03,0.000000,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,1.000000
25%,10.000000,1.760670e+05,0.000000,0.438000,0.317000,2.000000,-13.398000,0.000000,0.034900,0.101000,0.000000,0.099000,0.318000,94.538250,4.000000,6.739000e+03,37.000000,1.000000
50%,26.000000,2.162800e+05,0.000000,0.571000,0.538000,5.000000,-9.281000,1.000000,0.045800,0.448000,0.000028,0.140000,0.538000,116.122000,4.000000,7.769500e+04,52.000000,1.000000
75%,41.000000,2.671368e+05,0.000000,0.686000,0.743000,8.000000,-6.375000,1.000000,0.082500,0.827000,0.013800,0.279000,0.749000,135.885000,4.000000,5.719590e+05,65.000000,3.000000
max,100.000000,5.621218e+06,1.000000,0.991000,1.000000,11.000000,5.376000,1.000000,0.971000,0.996000,1.000000,1.000000,1.000000,246.381000,5.000000,7.890023e+07,100.000000,223.000000

In [68]:
# Fill NaNs in unique-playlists with 0
full_spotify_df['unique_playlists'] = full_spotify_df['unique_playlists'].fillna(0)

In [69]:
# Verify
full_spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780198 entries, 0 to 780197
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 780198 non-null  object
 1   name               780198 non-null  object
 2   popularity         780198 non-null  int64
 3   duration_ms        780198 non-null  int64
 4   explicit           780198 non-null  int64
 5   artists            780198 non-null  object
 6   id_artists         780198 non-null  object
 7   release_date       780198 non-null  object
 8   danceability       780198 non-null  float64
 9   energy             780198 non-null  float64
 10  key                780198 non-null  float64
 11  loudness           780198 non-null  float64
 12  mode               780198 non-null  float64
 13  speechiness        780198 non-null  float64
 14  acousticness       780198 non-null  float64
 15  instrumentalness   780198 non-null  float64
 16  liveness           780198 non-null  float64
 17  valence            780198 non-null  float64
 18  tempo              780198 non-null  float64
 19  time_signature     780198 non-null  float64
 20  followers          780198 non-null  float64
 21  genres             780198 non-null  object
 22  popularity_artist  780198 non-null  float64
 23  unique_playlists   780198 non-null  float64
dtypes: float64(15), int64(3), object(6)
memory usage: 148.8+ MB

In [70]:
# Verify
full_spotify_df.describe()

,popularity,duration_ms,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,followers,popularity_artist,unique_playlists
count,780198.000000,7.801980e+05,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,780198.000000,7.801980e+05,780198.000000,780198.00000
mean,26.587825,2.356172e+05,0.060556,0.555890,0.528174,5.204297,-10.482047,0.660145,0.108992,0.468510,0.122452,0.215230,0.529500,117.554083,3.866066,1.125640e+06,50.156169,0.40754
std,19.153649,1.429087e+05,0.238515,0.174116,0.260076,3.516667,5.540209,0.473660,0.180535,0.359193,0.276619,0.184337,0.262572,29.868547,0.490419,4.066397e+06,20.560089,3.72613
min,0.000000,4.520000e+03,0.000000,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.00000
25%,10.000000,1.760670e+05,0.000000,0.438000,0.317000,2.000000,-13.398000,0.000000,0.034900,0.101000,0.000000,0.099000,0.318000,94.538250,4.000000,6.739000e+03,37.000000,0.00000
50%,26.000000,2.162800e+05,0.000000,0.571000,0.538000,5.000000,-9.281000,1.000000,0.045800,0.448000,0.000028,0.140000,0.538000,116.122000,4.000000,7.769500e+04,52.000000,0.00000
75%,41.000000,2.671368e+05,0.000000,0.686000,0.743000,8.000000,-6.375000,1.000000,0.082500,0.827000,0.013800,0.279000,0.749000,135.885000,4.000000,5.719590e+05,65.000000,0.00000
max,100.000000,5.621218e+06,1.000000,0.991000,1.000000,11.000000,5.376000,1.000000,0.971000,0.996000,1.000000,1.000000,1.000000,246.381000,5.000000,7.890023e+07,100.000000,223.00000

In [71]:
# Rename columns
full_spotify_df = full_spotify_df.rename(columns={'id': 'track_id', 'name': 'track_name', 'popularity': 'track_popularity', 
                                                   'artists': 'artists_name', 'id_artists':'artist_id', 'popularity_artist': 'artist_popularity'})

In [72]:
# Change artist_popularity type from float to integer if all values are integer
full_spotify_df.artist_popularity.value_counts()

54.0     17605
62.0     15949
52.0     15752
50.0     15541
70.0     15315
         ...
98.0      1024
93.0       567
96.0       553
94.0       465
100.0      463
Name: artist_popularity, Length: 99, dtype: int64

In [73]:
# Change 'artist_popularity', 'unique_playlists', 'key', and 'time_signature', and 'followers' to integers because they are integer numbers
full_spotify_df['artist_popularity'] = full_spotify_df['artist_popularity'].astype('int64')
full_spotify_df['unique_playlists'] = full_spotify_df['unique_playlists'].astype('int64')
full_spotify_df['key'] = full_spotify_df['key'].astype('int64')
full_spotify_df['time_signature'] = full_spotify_df['time_signature'].astype('int64')
full_spotify_df['followers'] = full_spotify_df['followers'].astype('int64')

In [74]:
# Change the 'release_date column to datetime'
full_spotify_df.release_date = pd.to_datetime(full_spotify_df.release_date)

In [75]:
full_spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780198 entries, 0 to 780197
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   track_id           780198 non-null  object
 1   track_name         780198 non-null  object
 2   track_popularity   780198 non-null  int64
 3   duration_ms        780198 non-null  int64
 4   explicit           780198 non-null  int64
 5   artists_name       780198 non-null  object
 6   artist_id          780198 non-null  object
 7   release_date       780198 non-null  datetime64[ns]
 8   danceability       780198 non-null  float64
 9   energy             780198 non-null  float64
 10  key                780198 non-null  int64
 11  loudness           780198 non-null  float64
 12  mode               780198 non-null  float64
 13  speechiness        780198 non-null  float64
 14  acousticness       780198 non-null  float64
 15  instrumentalness   780198 non-null  float64
 16  liveness           780198 non-null  float64
 17  valence            780198 non-null  float64
 18  tempo              780198 non-null  float64
 19  time_signature     780198 non-null  int64
 20  followers          780198 non-null  int64
 21  genres             780198 non-null  object
 22  artist_popularity  780198 non-null  int64
 23  unique_playlists   780198 non-null  int64
dtypes: datetime64[ns](1), float64(10), int64(8), object(5)
memory usage: 148.8+ MB

In [76]:
# Reorder the columns to categorical columns followed by numerical columns

# Get lists of column names by type
datetime_list = full_spotify_df.dtypes[full_spotify_df.dtypes == "datetime64[ns]"].index.tolist()
cat_list = full_spotify_df.dtypes[full_spotify_df.dtypes == "object"].index.tolist()
int_list = full_spotify_df.dtypes[full_spotify_df.dtypes == "int64"].index.tolist()
float_list = full_spotify_df.dtypes[full_spotify_df.dtypes == "float64"].index.tolist()

new_column_order = cat_list + datetime_list + int_list + float_list

# Reorder columns
full_spotify_df = full_spotify_df[new_column_order]

In [77]:
full_spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780198 entries, 0 to 780197
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   track_id           780198 non-null  object
 1   track_name         780198 non-null  object
 2   artists_name       780198 non-null  object
 3   artist_id          780198 non-null  object
 4   genres             780198 non-null  object
 5   release_date       780198 non-null  datetime64[ns]
 6   track_popularity   780198 non-null  int64
 7   duration_ms        780198 non-null  int64
 8   explicit           780198 non-null  int64
 9   key                780198 non-null  int64
 10  time_signature     780198 non-null  int64
 11  followers          780198 non-null  int64
 12  artist_popularity  780198 non-null  int64
 13  unique_playlists   780198 non-null  int64
 14  danceability       780198 non-null  float64
 15  energy             780198 non-null  float64
 16  loudness           780198 non-null  float64
 17  mode               780198 non-null  float64
 18  speechiness        780198 non-null  float64
 19  acousticness       780198 non-null  float64
 20  instrumentalness   780198 non-null  float64
 21  liveness           780198 non-null  float64
 22  valence            780198 non-null  float64
 23  tempo              780198 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(8), object(5)
memory usage: 148.8+ MB

In [78]:
# Export to csv
# full_spotify_df.to_csv("Resources/spotify.csv", index=False)

In [79]:
# Verify which artists will null in artists_df, drop NaN rows
# Add a column with the number of artists in track: 1: Use delimiter (comma) to count, 2: get the column as a list, get the len of each row, map it to a new column, 3: count string, divide